@model EventEditModel
@{
    ViewData["Title"] = "Изменение данных о мероприятии";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<form method="post" enctype='multipart/form-data'>
    <input asp-for="Id" hidden>
    <partial name="_EventModifyModel" />
    <div class="row">
        <div class="col-6">
            <a role="button" class="btn btn-dark w-100" asp-controller="Event" asp-action="Index" asp-route-id="@Model.Id">Назад</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-dark w-100"> Изменить</button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}