@model ExaminationEditModel
@{
    ViewData["Title"] = "Изменение клинического осмотра";
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="form-group row">
        <h2 class="text-dark pl-3">@ViewData["Title"]</h2>
        <partial name="_ExaminationModifyModel" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}