@model WebAnimalPassport.Models.View.Treatment.TreatmentCreateModel
@{
    ViewData["Title"] = "Добавление обработки от паразитов";
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="AnimalId" hidden />
    <div class="form-group row">
        <h2 class="text-dark pl-3">@ViewData["Title"]</h2>
        <partial name="_TreatmentModifyModel" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}