@model NoteCreateModel

<div class="mb-1">
    <label asp-for="Text" class="form-label"></label>
    <textarea asp-for="Text" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Text" class="text-danger"></span>
</div>