@model WebAnimalPassport.Models.Data.Note.Note

<div class="mb-1">
    <label asp-for="Text" class="form-label"></label>
    <input asp-for="Text" class="form-control">
    <span asp-validation-for="Text" class="text-danger"></span>
</div>