@model AnimalEditModel
@{
    ViewData["Title"] = "Изменение данных паспорта питомца";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<form method="post">
    <input asp-for="Id" hidden>
    <partial name="_AnimalModifyModel" />
    <div class="row">
        <div class="col-6">
            <a role="button" class="btn btn-dark" asp-controller="Animal" asp-action="Index" asp-route-id="@Model.Id">Назад</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-dark">Передать</button>
        </div>
    </div>
</form>