@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Id" class="form-control" placeholder="text" disabled />
                <label asp-for="Id" class="form-label">Идентификатор</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="text" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label">Номер телефона - Phone number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" placeholder="text" />
                <label asp-for="Input.Surname" class="form-label">Фамилия - Surname</label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" placeholder="text" />
                <label asp-for="Input.Name" class="form-label">Имя - Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Patronymic" class="form-control" placeholder="text"/>
                <label asp-for="Input.Patronymic" class="form-label">Отчество</label>
                <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" placeholder="text"/>
                <label asp-for="Input.Address" class="form-label">Адрес - Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Index" class="form-control" placeholder="text"/>
                <label asp-for="Input.Index" class="form-label">Индекс - Post-code</label>
                <span asp-validation-for="Input.Index" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" placeholder="text" />
                <label asp-for="Input.City" class="form-label">Город - City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Region" class="form-control" placeholder="text">
                    <option selected disabled></option>
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Севастополь</option>
                    <option>Республика Адыгея</option>
                    <option>Республика Алтай</option>
                    <option>Республика Башкортостан</option>
                    <option>Республика Бурятия</option>
                    <option>Республика Дагестан</option>
                    <option>Донецкая Народная Республика</option>
                    <option>Республика Ингушетия</option>
                    <option>Кабардино-Балкарская Республика</option>
                    <option>Республика Калмыкия</option>
                    <option>Карачаево-Черкесская Республика</option>
                    <option>Республика Карелия</option>
                    <option>Республика Коми</option>
                    <option>Республика Крым</option>
                    <option>Луганская Народная Республика</option>
                    <option>Республика Марий Эл</option>
                    <option>Республика Мордовия</option>
                    <option>Республика Саха (Якутия)</option>
                    <option>Республика Северная Осетия (Алания)</option>
                    <option>Республика Татарстан</option>
                    <option>Республика Тыва</option>
                    <option>Удмуртская Республика</option>
                    <option>Республика Хакасия</option>
                    <option>Чеченская Республика</option>
                    <option>Чувашская Республика (Чувашия)</option>
                    <option>Алтайский край</option>
                    <option>Забайкальский край</option>
                    <option>Камчатский край</option>
                    <option>Краснодарский край</option>
                    <option>Красноярский край</option>
                    <option>Пермский край</option>
                    <option>Приморский край</option>
                    <option>Ставропольский край</option>
                    <option>Хабаровский край</option>
                    <option>Амурская область</option>
                    <option>Архангельская область</option>
                    <option>Астраханская область</option>
                    <option>Белгородская область</option>
                    <option>Брянская область</option>
                    <option>Владимирская область</option>
                    <option>Волгоградская область</option>
                    <option>Вологодская область</option>
                    <option>Воронежская область</option>
                    <option>Запорожская область</option>
                    <option>Ивановская область</option>
                    <option>Иркутская область</option>
                    <option>Калининградская область</option>
                    <option>Калужская область</option>
                    <option>Кемеровская область (Кузбасс)</option>
                    <option>Кировская область</option>
                    <option>Костромская область</option>
                    <option>Курганская область</option>
                    <option>Курская область</option>
                    <option>Ленинградская область</option>
                    <option>Липецкая область</option>
                    <option>Магаданская область</option>
                    <option>Московская область</option>
                    <option>Мурманская область</option>
                    <option>Нижегородская область</option>
                    <option>Новгородская область</option>
                    <option>Новосибирская область</option>
                    <option>Омская область</option>
                    <option>Оренбургская область</option>
                    <option>Орловская область</option>
                    <option>Пензенская область</option>
                    <option>Псковская область</option>
                    <option>Ростовская область</option>
                    <option>Рязанская область</option>
                    <option>Самарская область</option>
                    <option>Саратовская область</option>
                    <option>Сахалинская область</option>
                    <option>Свердловская область</option>
                    <option>Смоленская область</option>
                    <option>Тамбовская область</option>
                    <option>Тверская область</option>
                    <option>Томская область</option>
                    <option>Тульская область</option>
                    <option>Тюменская область</option>
                    <option>Ульяновская область</option>
                    <option>Херсонская область</option>
                    <option>Челябинская область</option>
                    <option>Ярославская область</option>
                    <option>Еврейская автономная область</option>
                    <option>Ненецкий автономные округ</option>
                    <option>Ханты-Мансийский автономные округ (Югра)</option>
                    <option>Чукотский автономные округ</option>
                    <option>Ямало-Ненецкий автономные округ</option>
                </select>
                <label asp-for="Input.Region" class="form-label">Регион - Region</label>
                <span asp-validation-for="Input.Region" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Country" class="form-control" placeholder="text"/>
                <label asp-for="Input.Country" class="form-label">Страна - Country</label>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
