@model NoteCreateModel
@{
    ViewData["Title"] = "Создание дополнительной заметки";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<form method="post">
    <input asp-for="AnimalId" hidden>
    <partial name="_NoteModifyModel" />
    <div class="row">
        <div class="col-6">
            <a role="button" class="btn btn-dark w-100" asp-controller="Animal" asp-action="Index" asp-route-id="@Model.AnimalId">Назад</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success w-100">Создать</button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}