@model WebAnimalPassport.Models.View.Vaccination.VaccinationCreateModel
@{
    ViewData["Title"] = "Home Page";
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="AnimalId" hidden />
    <div class="form-group row">
        <h2 class="text-dark pl-3">
            Добавление вакцинации
        </h2>
        <partial name="_VaccinationModifyModel" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}