@model VaccinationEditModel
@{
    ViewData["Title"] = "Редактирование вакцинации";
}
<form method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <h2 class="text-dark pl-3">@ViewData["Title"]</h2>
        <partial name="_VaccinationModifyModel" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}